# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
maildir/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
maildir
	const axios = require('axios');

const options = {
  method: 'POST',
  url: 'https://data-extractor.p.rapidapi.com/extract/phones',
  headers: {
    'content-type': 'application/json',
    'X-RapidAPI-Key': '18f9b83bc2msh226c8e6903e54cap13fea5jsn04c03bbe5a8a',
    'X-RapidAPI-Host': 'data-extractor.p.rapidapi.com'
  },
  data: {
    text: 'Hello my name is John Doe, my phone number is 212-456-7890, my email is john+test@doe.com and my website is pretty basic: www.john.doe.com',
    config: {
      withPlusPrefix: true,
      requirePlusPrefix: false,
      withCountryCode: true,
      requireCountryCode: false,
      withZeroPrefix: true,
      requireZeroPrefix: false,
      withPartSeparator: true,
      maxSeparatorLength: 3
    }
  }
};

try {
	const response = await axios.request(options);
	console.log(response.data);
} catch (error) {
	console.error(error);
}
